table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#context-menu{
	width : 200px;
	border: 1px solid #dddddd;
	position: absolute;
	top : 0px;
	left : 20px;
	background-color: yellow;
}

#context-menu div{
	padding: 5px;
	z-index: 1000;

}

#context-menu div:hover{
	background-color: lightgray;
}
