
p{
	padding: 0px;
	margin: 0px;
	background-color: red;
}


table p{
	padding: 0px;
	margin: 0px;
	background-color: red;
}

table {
  border-collapse: collapse;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

tr:first-child td{
  resize: horizontal;
  overflow: auto;
  height: 6px;
  background-color: gray;
}

td {
  border: 1px solid black;
  width : 20px;
  text-align: center;
}

.table_container{
	width: 800px;
	height:400px;
	resize: both;
	background-color: lightgray;
	overflow: auto;
	padding: 10px;
	
}


