
p{
	padding: 0px;
	margin: 0px;
	background-color: red;
}

table {
  border-collapse: collapse;
}

tr:first-child td{
  resize: horizontal;
  overflow: auto;
}

td {
  border: 1px solid black;
  width : 20px;
}

.inline{
	display: inline;
}

.table_container{
	width: 800px;
	height:500px;
	resize: both;
	background-color: lightgray;
	overflow: auto;
}

.table {
  display: table;         
  width: auto;         
  border: .1px solid gray;
  
}
.tr {
  display: table-row;
  /*width: auto;*/
  /*clear: both;*/
}
.td {
  float: left; /* fix for  buggy browsers */
  width: 200px;         
  border: .1px solid gray;
  resize: horizontal;
  overflow: auto;
}

.tr1:first-child .td{
  resize: horizontal;
  overflow: auto;
}