
p{
	padding: 0px;
	margin: 0px;
	background-color: red;
}


table p{
	padding: 0px;
	margin: 0px;
	background-color: red;
}

table {
  border-collapse: collapse;
}

tr:first-child td{
  resize: horizontal;
  overflow: auto;
  height: 6px;
  background-color: gray;
}

td {
  border: 1px solid black;
  width : 20px;
}

.table_container{
	width: 800px;
	height:500px;
	resize: both;
	background-color: lightgray;
	overflow: auto;
}


